.page-content {
	min-height: 400px;
}

#botonera{
	margin-bottom: 0;
	text-align: right;
}

#botonera #restaurar, 
#botonera #destruir{
	display: none;
}

#botonera.affix {
	z-index: 1000;
	right: 15px;
	top:  34px;
	background-color: #EFF3F8;
}

@media (min-width: 992px){
	#botonera.affix {
		right: 60px;
	}
}

#botonera .msj-botonera{
	font-size: 16px;
	padding: 15px 20px;
	margin-bottom: 10px;
	display: none;
}

#botonera .msj-botonera i{
	margin-right: 5px;
}

#botonera .msj-botonera .fa-close{
	float: right;
	cursor: pointer;
}

.modal-busqueda{
	padding-right: 0 !important;
}
.modal-busqueda .dataTable{
	width: 100% !important;
}

.modal-busqueda .dataTable tbody td{
	cursor: pointer;
}

.modal-busqueda .modal-dialog.container{
	width: 100%;
	padding: 0 2px;
}

.modal-busqueda .modal-dialog{
	margin: 10px 0;
}

.modal-busqueda .btn-datatable{
	float: left; margin-right: 10px
}

div.form-control{
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.ui-datepicker-month,
.ui-datepicker-year{
	color: black !important;
}

label .requerido{
	color: #BB0000;
	font-size: 0.5em;
	float: right;
	margin-left: 2px;
}

.form-control.has-warning {
	background-image: linear-gradient(#ff5722,#ff5722),linear-gradient(#d2d2d2,#d2d2d2) !important;
}

.tooltip{
	z-index: 50000 !important;
}

.campo_numeric{
	padding: 0 0 0 5px;
}
.img-logo{
 	position: relative;
	width: 100%;
}

.nav.side-menu>li.active>a:hover {
    color: #000 !important;
}

.toggle {
    float: left;
    margin: 0;
    padding-top: 16px;
    width: 5%;
}
@media only screen and (max-width: 768px) { 
	.saldo{
		display: none;
	}
	.fecha_corte{
		display: none;
	}
	.blank{
		display: none;
	}

	.toggle {
		float: left;
		margin: 0;
		padding-top: 16px;
		width: 50%;
	}

}
.saldo{
	float: left;
    margin: 0;
    width: 20%;
}
.fecha_corte{
	float: left;
    margin: 0;
    width: 20%;
}
.mensajes{
	float: left;
    margin: 0;
    width: 5%;
}
.notificacion{
	float: left;
    margin: 0;
    width: 5%;
}
.blank{
	width: 10%;
}

.globo-noti{
	position: absolute;
    top: 7px;
    right: 5px;
}

.tick_1 {
    float: left;
    width: 100%;
    background-color: #000;
    border-radius: 23px !important;
    color: #fff;
	height: 33px;
	margin-top:5%;
}

.tick_2 {
    float: left;
    width: 100%;
    background-color: #5f9fe7;
    border-radius: 23px !important;
    color: #fff;
    height: 33px;
    margin-left: 7px;
    margin-top: 5%;
}
